{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base"
  ],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/extensions": [
        0,
        "always"
    ]
  }
}
