solid-display,
solid-display-value,
solid-multiple,
solid-link {
  border: 1px solid blue;
  display: block;
  padding: 0.3em;
  margin: 0.3em;
}
solid-display-value {
  border-color: orangered;
}
solid-multiple {
  border-color: seagreen;
}
solid-link {
  border-color: purple;
  cursor: pointer;
}
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

form > * {
  display: block;
  margin: 1em 0;
}
label {
  display: block;
}
solid-form-checkboxes label {
  display: inline;
}
solid-route {
  display: inline-block;
  background-color: #aaa;
  padding: 0.5em;
  cursor: pointer;
}
solid-route[active] {
  background-color: #ccc;
}

[active]{
  outline: 2px dotted;
}