sib-link,
sib-display {
  border: 1px solid blue;
  display: block;
  padding: 0.3em;
  margin: 0.3em;
}
sib-link{
  border-color: orangered;
  cursor: pointer;
}
summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.5em 0;
  margin: 0.5em 0;
}

form > * {
  display: block;
  margin: 1em 0;
}
label {
  display: block;
}
sib-route{
  display: inline-block;
  background-color: #aaa;
  padding: .5em;
  cursor: pointer;
}
sib-route[active]{
  background-color: #ccc;
}